# Gradle files
.gradle/
build/
/*/build/

# Kotlin / KSP
.kotlin/
.ksp/

# Local configuration
local.properties
.env
.env.*

# Keystores (Avoid committing any generated keystores)
*.keystore
*.jks
debug.keystore.base64

# Platform Specific / AI Studio Build Outputs
.build-outputs/

# Built artifacts
bin/
gen/
out/
captures/
.externalNativeBuild/
.cxx/

# Android Studio / IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# OS files
.DS_Store
Thumbs.db
*.bak
*.log

# other
_workspace/
tests/
.artifacts/
tcls/
